body {
  font: 20px arial, sans-serif
}

p, li {
  color: white;
  font-size: 14px;
}

.margin {
  padding-bottom: 2px;
  padding-top: 2px;
}

.bg-footer {
  background-color: #235659;
  color: white;
  padding: 0px 0 0;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

.container-footer {
  padding: 0px 0;
}

.container-fluid {
  padding: 0;
}

.servico {
  text-align: center;
  margin-bottom: 50px;
}

.titulo {
  color: #444;
  margin: 0 0 0px 0;
  font-size: 40px;
  text-align: center;
}

.titulo-space {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

#texto {
  color: #444;
  font-size: 14px;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 15%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
  color: white;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #FFF;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#empresa {
  background-color: #C0C0C0;
  color: #444;
  font-size: 16px;
  padding: 100px;
}

#contato {
  background-color: #66CDAA;
  color: #444;
  font-size: 16px;
  padding: 100px;
}

#servicos {
  background-color: #D3D3D3;
  color: #444;
  font-size: 16px;
  padding: 100px;
}

#home {
  background-color: #C0C0C0;
  color: #444;
  font-size: 16px;
  padding: 100px 0 0;
}

#logo {
  width: 75px;
  height: 75px;
}