body {
    font:20px arial, sans-serif
}

p, li {
  color: white;
  font-size: 14px;
}

.navbar {
 background: transparent;
 color: white;
 padding: 30px;
}

.margin {
  padding-bottom: 2px;
  padding-top: 2px;
}

.bg-footer {
  background-color: #235659;
  color: white;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

.servico {
  text-align: center;
  margin-bottom: 50px;
}

.titulo {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

#texto {
  color: #444;
  font-size: 14px;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
  color: white;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #FFF;
}

#empresa {
  background-color: white;
  color: #444;
  font-size: 16px;
  padding: 100px;
}

#logo {
  width: 75px;
  height: 75px;
}

